<div class = "row">
<div class = "col-md-1"></div>
<div class = "col-md-10">

<form action="updatecert" method="post" name="updatecert" id="updatecert" encType="multipart/form-data">
    <input type="hidden" id="certid" name="certid" value="{{certid}}">
    <input type="hidden" id="certdevicejuncid" name="certdevicejuncid" value="{{certdevicejuncid}}">
    <label for="name">Cert Name::</label>
    <input type="text" name="name" id="name" value="{{{certname}}}"><br>
    <label for="date3">Start Date:</label>
    <input type="date" name="start_date" id="date" value="{{{sdate}}}"><br>
    <label for="date4">Expiry Date:</label>
    <input type="date" name="expiry_date" id="date2" value="{{{edate}}}"><br>

    <label for="textfield">Device Name</label>
    <select name = "device" selected = {{{devicename}}}>
        {{#each devices}}
            <option value="{{deviceid}}" option selected="" id="{{devicename}}">{{devicename}}</option>
        {{/each}}
    </select><br>

    <label for="textfield">System Name</label>
    <select name = "project" selected = {{{projectname}}}>
        {{#each projects}}
            <option value="{{projectid}}" option selected="" id="{{projectname}}">{{projectname}}</option>
        {{/each}}
    </select><br>

    <label for="name">Cert file:</label>
    <input type="text" name="currentCertFile" id="currentCertFile" value="{{{certfile}}}" /><br>
    <input type="file" name="newcertfile" id="newcertfile"><br>

        <table class ="table">
            <thead>
                <tr>
                <td>Project</td>
                <td>Device</td>
                <td>Contact</td>
                </tr>
            </thead>
            <tbody id="projects" class="collection with-header">
        {{#each data}}
        <tr class="{{classtype}}">
            <td>{{name}}</td> 
            <td>{{devicesName}}</td>
            <td>{{certuserName}}</td>
        </tr>
    {{/each}}
            </tbody>
        </table>

    <br><input type="submit" value='Submit'>
</form>
<script type="text/javascript">
$(function() {
	$( "#Datepicker1" ).datepicker(); 
});

document.getElementById("{{projectname}}").selected = "Selected";
document.getElementById("{{devicename}}").selected = "Selected";

</script>
