
<div class = "row">
<div class = "col-md-1"></div>
<div class = "col-md-10">
    <div class = "table-responsive">
        <table class ="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Access Lvl</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="names" class="collection with-header">
            {{#each users}}
            <tr class="collection-item">
                <td><a id = "certname" href="/certs/{{id}}">{{username}}</a></td>
                <td>{{{accessLvl}}}</td>
                <td>{{{email}}}</td>
                {{!-- TODO: search employee name --}}
                <td><a id = "certname" href="/certs/{{row_id}}">{{name}}</a></td>
            </tr>
            {{else}}
            <tr>
                <td>No&nbsp;Data&nbsp;Available</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>{{/each}}
        </tbody>
        </table>
        <table style="display:none">
            <tbody id="department-names">
                {{#each departmentTitle}}
                <tr class="collection-item-department">
                    <td>{{departmentName}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            <canvas id="myChart" width="20%" height="20%" style="display: block; height: 50%; width: 50%;"></canvas>
        </div>
    </div>
</div>
</div>